.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.barlaporan {
    width: 40px;
    height: 200px;
    position: absolute;
    bottom: 0;
    margin: 0 10px;
    background-color: blue;
}

.labelLaporan {
    width: 40px;
    position: absolute;
    bottom: -20px;
    text-align: center;
    margin: 0 10px;
}